* {
    font-family: 'Akronim', cursive;
}

body {
    background-image: url('../assets/background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: purple;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    margin-bottom: 50px;
    color: purple;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 35%;
    height: 100px;
    text-align: center;
    font-size: 1.5rem;
    background: transparent;
    color: purple;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

::placeholder {
    color: purple;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: purple;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer {
    display: flex;
    justify-content: center;
}

footer button {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 175px;
    background: transparent;
    color: purple;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer span {
    font-size: 1.25rem;
    padding-top: 15px;
}